:root {
  --color-primary: #44f6fd;
  --color-accent: #fffffa;
  --color-default: #363636;

  --color-background: #242424;
  --color-card: #1b1b1b;

  --color-text: #f9f9f9;
  --color-label: #aaaaaa;
  --color-disabled: #888888;

  --lenght-md1: 1rem;
  --lenght-md2: 1.25rem;
  --lenght-md3: 1.5rem;
}

/* Reset */

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: var(--color-background);
  color: var(--color-text);
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: 1;
}

img {
  border-radius: 50%;
}

/* Shared Components */

/* Layout Components */

.container {
  padding: var(--lenght-md1);
}

@media only screen and (min-width: 800px) {
  .container {
    width: 800px;
    margin: 0 auto;
  }
}

.row {
  margin-bottom: var(--lenght-md1);
}

@media only screen and (min-width: 800px) {
  .row {
    display: flex;
    gap: var(--lenght-md1);
  }
}

/* Card Component */

.card {
  flex-grow: 1;
  padding: var(--lenght-md1);
  background: var(--color-card);
  border-radius: var(--lenght-md1);
}

.card.has-extra-padding {
  padding: 2rem 1.5rem;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-header-icon {
  font-size: 1.25rem;
}

.card-h4 {
  margin-bottom: 4px;
  font-size: 0.75rem;
  font-weight: 400;
  color: var(--color-label);
}

.card-h3 {
  margin-bottom: var(--lenght-md1);
  color: var(--color-label);
  font-size: var(--lenght-md1);
  font-weight: 500;
}

.card-h3.no-bottom-margin {
  margin-bottom: 0;
}

.card-h2 {
  font-size: 1.75rem;
  font-weight: 500;
}

.card-h2.has-bottom-margin {
  margin-bottom: 2rem;
}

.card-bar-chart {
  display: flex;
  justify-content: space-evenly;
  gap: var(--lenght-md1);
  align-items: flex-end;
  height: 8rem;
  background: repeating-linear-gradient(
    rgba(255, 255, 255, 0.075) 0% 0.5%,
    transparent 0.5% 20%
  );
}

.card-bar-chart > div {
  display: grid;
  place-items: end;
}

.card-bar-chart > div > div {
  width: var(--lenght-md2);
}

.card-bar-primary {
  background: var(--color-primary);
}

.card-bar-default {
  background: var(--color-default);
}

/* Avatar Components */

.avatar-list {
  list-style-type: none;
  padding: 0;
}

.avatar-list > li {
  display: flex;
  gap: var(--lenght-md2);
  align-items: center;
  margin-bottom: var(--lenght-md2);
}

.avatar {
  width: 3.5rem;
  height: 3.5rem;
}

.avatar-title, .avatar-notes {
  line-height: 1;
  display: block;
}

.avatar-title {
  font-size: 1rem;
  margin-bottom: 3px;
}

.avatar-notes {
  font-size: 0.875rem;
  color: var(--color-label);
}
/* Bespoke Card Styles */

/* Card Headline */

.card-headline-icon {
  display: grid;
  place-items: center;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  color: var(--color-primary);
  font-size: 2rem;
  background: rgba(255, 255, 255, 0.1);
}

.card-healine {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media only screen and (min-width: 800px) {
  .card-healine {
  width: 25%;
  }
}

/* Card List */

.card-list {
  display: flex;
  gap: 1.75rem;
  width: 50%;
}

@media only screen and (min-width: 800px) {
  .card-list {
  width: 25%;
  }
}

.card-list-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.card-list-badge {
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
}

.card-list-badge.primary {
  background: var(--color-primary);
}

.card-list-badge.accent {
  background: var(--color-accent);
}

.card-list-badge.default {
  background: var(--color-default);
}

/* Card Progress */

.card-progress {
  width: 25%;
  text-align: center;
}

.card-progress-donut {
  position: relative;
  width: 8rem;
  height: 8rem;
  margin: 0 auto;
  border-radius: 50%;
  background: conic-gradient(
    var(--color-primary) 0% 33%, 
    var(--color-default) 33% 100%
  );
}

.card-progress-donut::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  height: 85%;
  border-radius: inherit;
  background: var(--color-card);
}

/* Card Growth */

.card-growth {
  width: 50%;
  text-align: center;
}

.card-growth-headlines {
  display: flex;
  justify-content: space-evenly;
}

/* Card Region */

.card-region {
  padding: 1rem 1.5rem;
  width: 25%;
  text-align: center;
}

/* Card Activity and Author */

.card-author, .card-activity {
  width: 50%;
}

/* Timeline */

.timeline {
  padding-top: 1.25rem;
}

.timeline-row {
  display: flex;
  position: relative;
  padding-bottom: 1rem;
}

.timeline-when {
  font-size: 0.875rem;
  width: 3.5rem;
  min-width: 3.5rem;
  max-width: 3.5rem;
}

.timeline-badge {
  width: 0.75rem;
  min-width: 0.75rem;
  max-width: 0.75rem;
  height: 0.75rem;
  margin: 1.5px 0.5rem 0;
  border-radius: 50%;
  border: 3px solid var(--color-default);
  background: var(--color-card);
}

.timeline-row.primary .timeline-badge {
  border-color: var(--color-primary);
}

.timeline-badge::after {
  content: "";
  position: absolute;
  top: 22px;
  left: 4.5rem;
  width: 2px;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
}

.timeline-text {
  color: var(--color-label);
  font-size: 0.875rem;
}
